<h2>{{myHero.name | uppercase}} Details</h2>
<div><span>id:</span>{{myHero.id}}</div>
<div><span>name:</span>{{myHero.name}}</div>
<div>
    <label>
        Edit Name: 
    </label>
    <input [(ngModel)]='myHero.name' placeholder="name"/>
</div>
<br>
<div>
    <ul class="heroes">
    <!--<li *ngFor="let hero of heroList" (click)="onSelect(hero)" [class.selected]="hero===selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>-->
    <li *ngFor="let item of heroList">
        <a routerLink="/detailnew/{{item.id}}">
            <span class="badge">{{item.id}}</span> {{item.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(item)">x</button>
    </li> 
</ul>
</div>
<div>
    <label>Hero name:<input #heroName/>
    </label>
    <button (click)="add(heroName.value);heroName.value=''">Add</button></div>

<!--
<div *ngIf="selectedHero">
<div>
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id:</span>{{selectedHero.id}}></div>
</div>
<div>
    <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
</label>
</div>
</div>
<hr>
-->